<html lang="en">
<head>

    <title>het is verrukkuluk! :: {{ title }} </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/fontawesome.css" />

    <link rel="stylesheet" type="text/css" href="assets/css/main.css" />

    <script type="text/javascript" language="javascript" src="assets/jquery/jquery-3.5.1.js"></script>
    <script type="text/javascript" language="javascript" src="assets/bootstrap/js/bootstrap.js"></script>

</html>
<body>
<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
        {% block header %}
            
        {% endblock %}   
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="sideContent agenda">
                <img src="assets\img\verrukkulluk-agenda.png"/>
                
                <div class="entry">
                    <i class="fa fa-calendar"></i> 
                    <div class="text">
                        <h3>Vegan Session</h3>
                        <p> Voluptate dolor cillum duis nostrud pariatur sit aute consequat cillum voluptate culpa anim. </p>
                    </div>
                </div>

                <div class="entry">
                    <i class="fa fa-calendar"></i> 
                    <div class="text">
                        <h3>Vegan Session</h3>
                        <p> Voluptate dolor cillum duis nostrud pariatur sit aute consequat cillum voluptate culpa anim. </p>
                    </div>
                </div>

                <div class="entry">
                    <i class="fa fa-calendar"></i> 
                    <div class="text">
                        <h3>Vegan Session</h3>
                        <p> Voluptate dolor cillum duis nostrud pariatur sit aute consequat cillum voluptate culpa anim. </p>
                    </div>
                </div>

                <div class="entry">
                    <i class="fa fa-calendar"></i> 
                    <div class="text">
                        <h3>Vegan Session</h3>
                        <p> Voluptate dolor cillum duis nostrud pariatur sit aute consequat cillum voluptate culpa anim. </p>
                    </div>
                </div>

                <div class="entry">
                    <i class="fa fa-calendar"></i> 
                    <div class="text">
                        <h3>Vegan Session</h3>
                        <p> Voluptate dolor cillum duis nostrud pariatur sit aute consequat cillum voluptate culpa anim. </p>
                    </div>
                </div>
            </div>

            <div class="sideContent login">
                <img src="assets\img\verrukkulluk-login.png"/>
                <form>
                    <div class= "input-icons margin10">
                        <i class="fa fa-user icon"></i>
                        <input class="input-field " type="text" placeholder="username">
                    </div>

                    <div class= "input-icons margin10">
                        <i class="fa fa-lock icon"></i>
                        <input class="input-field " type="password" placeholder="password">
                    </div>

                    <button class="button" type="submit"> Log In </button>
                </form>
            </div>
        </div>
        <div class="col-md-9">
            {%  block content %}
            {%  endblock %}
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <h1>Contact</h1>
        </div>
    </div>


</div>

</body>
